{% extends 'MSBundle:WebMasterDomain:accounts.html.twig' %}
{% block title %}
    <title>Design</title>
{% endblock %}
{% block style %}
    <style xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        .art-content .art-postcontent-0 .layout-item-0 { margin-bottom: 5px;  }
        .art-content .art-postcontent-0 .layout-item-1 { color: #404040; border-spacing: 10px 0px; border-collapse: separate;  }
        .art-content .art-postcontent-0 .layout-item-2 { color: #292929; background: #C3D3E4; padding: 10px; vertical-align: top; border-radius: 40px;  }
        .art-content .art-postcontent-0 .layout-item-3 { border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-top-color:#A6A6A6;border-right-color:#A6A6A6;border-bottom-color:#A6A6A6;border-left-color:#A6A6A6; color: #292929; background: #C3D3E4; padding-top: 1px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px; vertical-align: top; border-radius: 40px;  }
        .art-content .art-postcontent-0 .layout-item-4 { border-spacing: 10px 0px; border-collapse: separate;  }
        .art-content .art-postcontent-0 .layout-item-5 { border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-top-color:#A6A6A6;border-right-color:#A6A6A6;border-bottom-color:#A6A6A6;border-left-color:#A6A6A6; color: #292929; background: #C3D3E4; padding-right: 10px;padding-left: 10px; vertical-align: top; border-radius: 40px;  }
        .ie7 .post .layout-cell {border:none !important; padding:0 !important; }
        .ie6 .post .layout-cell {border:none !important; padding:0 !important; }
        table {border: 0}
    </style>

    <script type="text/javascript" src="{{ asset('bundles/ms/js/anis.popup.js') }}" ></script>
    <link rel="stylesheet" href="{{ asset('bundles/ms/css/anis.popup.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/ms/js/custom.anis.functions.js') }}" ></script>

    <script type="text/javascript" src="{{ asset('bundles/ms/js/demo/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ms/js/demo/jquery-ui.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ms/js/demo/jquery.jsPlumb-1.3.16-all-min.js')}}"></script>

    <script type="text/javascript" src="{{ asset('bundles/ms/js/customScripts/classes/Question.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/ms/js/customScripts/classes/Choix.js') }}"></script>

    <script src="{{ asset('bundles/ms/js/jquery.ui.draggable.js') }}"></script>

    <style>
        .element{
            cursor: move;
            width: 200px;
            height: 100px;
            text-align: match-parent;
            overflow-y: hidden;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 0px;
            padding-bottom: 20px;
        }
        ._jsPlumb_endpoint{
            cursor: pointer;
        }
        #newQuestionForm , #newQuestion{
            /*left: 40%;*/
            /*top: 20px;*/
            z-index: 100;
            width: 500px;
            background-color: #1b75bb;
            position: absolute;
        }
        .choix{
            border-width: 1px;
            border-style: dotted ;
        }
        .question_actions
        {
            width:90px;height: 20px;background-color: #6e6e6e;position: relative;margin-left: 60%;
        }
    </style>

    <script type="text/javascript">


    var Questionnaire= new Array();
    var questionnaireId = {{ questionnaire }};
    var questionCode = "";//'<div style="width:30px;height: 30px;background-image: url(\'image/endpointTest2.png\');position: relative;margin-left: 50%;z-index: 102" onclick="closeQuest(this);"></div>';
    var common = {
        cssClass:"myCssClass"
    };

    var p ;
    //function closeQuest(x){
    //    p = x;
    //    var quest = x.parent;
    //    quest.parent.style.visibility = "hidden";
    //}

    var exampleGreyEndpointOptionsSource = function(question){

        // if question instanceof Question
        // sinon instanceof Choix

        return{
            //endpoint:"Rectangle",
            endpoint:"Dot" ,//[ "Image", { src:"./image/endpointTest1.png" } ],
            paintStyle:{ width:25, height:21, fillStyle:'#666' },
            isSource:true,
            connectorStyle : { strokeStyle:"#666" },
            isTarget:false,
            isContinuous: true,
            maxConnections:1,
            parameters:{
                "questionSource" : question
            }

        }
    };

    var exampleGreyEndpointOptionsTarget = function(question){
        return{
            //endpoint:"Rectangle",
            endpoint:[ "Image", { src:"{{ asset('bundles/ms/images/endpointTest1.png') }}" } ],
            paintStyle:{ width:25, height:21, fillStyle:'#666' },
            isSource:false,
            connectorStyle : { strokeStyle:"#666" },
            isTarget:true,
            isContinuous: true,
            maxConnections:100,
            parameters:{
                "questionTarget" : question
            }

        }
    };


    var fonctionsDrag = {
        start : function(event, ui){

            var context = $(this);
            $("."+ui.helper[0].id).each(function(){
                diff.push(context.offset().top -  $(this).offset().top);
            });

        },
        drag : function(event,ui){


            var offset = $(this).offset();

            var i = 0;

            $("."+ui.helper[0].id).each(function(){
                $(this).offset({ top:  offset.top  - diff[i] , left: offset.left +20 });;
                i++;
            });
            jsPlumb.repaintEverything();
        },
        stop : function(event,ui){

            var offset = $(this).offset();

            var i = 0;

            $("."+ui.helper[0].id).each(function(){
                $(this).offset({ top:  offset.top  - diff[i] , left: offset.left + 20 });;
                i++;
            });
        }
    }
    function newQuestion(){

        $("#newQuestion").load("{{ path('questionnaire_question_new') }}#newQuestionForm" );

    }
    function closeForm()
    {
        $("#newQuestion").html("");
        return false;
    }

    function CreateChoices(input){
        var nbre = (parseInt(input.value)>=0)?parseInt(input.value):0;
        var choices = $(".choice").length;

        for(var i = choices ; i<nbre  ; i++){
            $('<p class="choi choix'+(i+1)+'"><label>Choix '+(i +1)+'</label><input type="text" class="choice" id="choix'+(i+1)+'" name="choix'+(i+1)+'" required></p>').appendTo($("#listeChoix"));
        }

        for(var i = parseInt(nbre)+1 ; i <=  choices;i++){

            $('.choix'+i ).remove();
        }

    }

    var exx = null;
    var premiereQuestion = null;

    function mapping()
    {

        var nbFirst = 0;
        var firstQuestion = null;
        for(var questionIndex in Questionnaire )
        {
            if(Questionnaire[questionIndex].questionsAvant ==0 )
            {
                nbFirst += 1;
                firstQuestion = Questionnaire[questionIndex];
            }   }
        if(nbFirst == 1)
            premiereQuestion = firstQuestion;
        else {
            alert('Questionnaire non valide');
            return;
        }



        $.ajax({
            type: "POST",
            url: "{{ path('question_create') }}",
            data: {"questionnaire" : questionnaireId, "question" : premiereQuestion.serialize()}//Questionnaire[0].serialize()}
        }).done(function( msg ) {
                    //$("#ajaxResult").html(msg);
                    //window.location = "http://localhost/symfony3/web/app_dev.php/PFE/V3/question/";
                    alert("Questionnaire cree avec success !");
                }).fail(function(msg){
                    $("#ajaxResult").html(msg);
                }
        );
    }
    function FormSubmit(x){
        try{
            var elemtLength = $(".element").length + 1;
            $("#design").prepend('<div class="element" id="question'+ elemtLength+'" style="background-color: '+((x.obligatoire.value == 1)? "#FF5555":"#F6921E") +'" ><div class="question_actions">'+questionCode+'</div>'+ x.titre.value+ '</div>');

            //*************************
            var question = new Question(('questionnaire_1_question_'+ elemtLength) ,x.titre.value, x.typeQuestion.value, x.obligatoire.value);
            //alert(question.id);
            //alert(x.obligatoire.value);
            Questionnaire.push(question);//(['question'+ elemtLength,question]);
            //*************************


            var choice_count = (parseInt(x.nbreChoices.value)>0)?parseInt(x.nbreChoices.value):0;



            //******************************
//                for(var i =1;i<choice_count+1;i++){
//
//
//                    var choix = new Choix(x['choix'+i].value, question);
//                    question.ajouterChoix(choix);
//
//                }
            //******************************



            for(var i =choice_count;i> 0;i--){


                var choix = new Choix(x['choix'+i].value, question);
                question.ajouterChoix(choix);



                var id="choix"+elemtLength;

//                    if(i<10)id=id+"0"+i;
//                    else
                id= id+""+i;



                $('<div class="choix question'+elemtLength+'" style="background-color: #1b75bb; width: 200px;height:100px;margin-left:20px" id="'+id+'" >'+x['choix'+i].value+'</div>').insertAfter($("#question"+elemtLength));
                if(question.type == "choix_unique")jsPlumb.addEndpoint(id, { anchor:"RightMiddle" }, exampleGreyEndpointOptionsSource(choix));
            }


            $(".element").draggable(fonctionsDrag);
            jsPlumb.addEndpoint('question'+ elemtLength, { anchor:"TopCenter" }, exampleGreyEndpointOptionsTarget(question) );
            jsPlumb.addEndpoint(
                    'question'+ elemtLength,
                    { anchor:"BottomCenter" },
                    exampleGreyEndpointOptionsSource(question) );

        }catch(ex){exx = ex;}

        $("#newQuestion").html("");
        jsPlumb.repaintEverything();

        return false;
    }
    </script>
{% endblock %}
{% block fos_user_content %}

<div class="art-layout-wrapper clearfix">
<div class="art-content-layout">
<div class="art-content-layout-row">
<div class="art-layout-cell art-content clearfix">
<article class="art-post art-article">
<div class="art-postcontent art-postcontent-0 clearfix">
<div class="art-content-layout-wrapper layout-item-0">
<div class="art-content-layout layout-item-1">
<div class="art-content-layout-row">
<div class="art-layout-cell layout-item-2" style="height: 800px" >


<center><input type="button" value="Nouvelle Question" class="art-button" onclick="newQuestion();"/><input type="button" class="art-button" value="Valider" onclick="mapping();">
    <div id="ajaxResult"></div> </center>
<center><h1><div id="con"></div></h1></center>
<center><div id="newQuestion"></div></center>
<div id="design">
    <!--<div class="element" id="question1" style="width: 130px; height: 150px; background-color: #F6921E">Question 1</div>-->


    <!--<div class="choix question1" style="background-color: #1b75bb; width: 130px" id="choix11">A</div>-->

    <!--<div class="choix question1" style="background-color: #1b75bb; width: 130px" id="choix12">B</div>-->

    <!--<div class="element" id="question2" style="width: 130px; height: 150px; background-color: #1b75bb">Question 2</div>-->
    <!--<div class="element" id="question3" style="width: 130px; height: 150px; background-color: #00FF00">Question 3</div>-->

    <!--<div class="choix question3" style="background-color: #1b75bb; width: 130px" id="choix31">A</div>-->

    <!--<div class="element" id="question4" style="width: 130px; height: 150px; background-color: #F6921E">Question 4</div>-->

    <!--<div class="choix question4" style="background-color: #1b75bb; width: 130px" id="choix41">A</div>-->
</div>


<script type="text/javascript">


    //        var q = new Question("E");
    //        q.ajouterChoix(new Choix("e1", q));
    //        q.ajouterChoix(new Choix("e2", q));
    //        var choixx = q.choix;


    var tmp;
    var diff = new Array();


    $(document).ready(function() {


        $("#newQuestion").draggable();

        $(".element").draggable(fonctionsDrag);

        jsPlumb.Defaults.Overlays = [
            [ "Arrow", { width:10, length:30, location:0.5, id:"arrow" } ]
        ];

    });
    var inf, inf2 , params;

    jsPlumb.bind("jsPlumbConnectionDetached", function(info){
        if( info.connection.getParameters().questionSource instanceof  Choix)
            info.connection.getParameters().questionSource.questionAttache = null;
        else
            info.connection.getParameters().questionSource.suivant = null;

        info.connection.getParameters().questionTarget.questionsAvant = info.targetEndpoint.connections.length;

    });
    jsPlumb.bind("jsPlumbConnection", function(info) {

        if( info.connection.getParameters().questionSource instanceof  Choix) {
            info.connection.getParameters().questionSource.questionAttache = info.connection.getParameters().questionTarget;
        }
        else{
            info.connection.getParameters().questionSource.suivant = info.connection.getParameters().questionTarget;
        }

        info.connection.getParameters().questionTarget.questionsAvant = info.targetEndpoint.connections.length;

        inf = info.connection.getParameters().questionTarget.questionsAvant;
        params = info.connection.getParameters();

        //$("#con").html(info.sourceId + ' ' + info.sourceEndpoint.anchor.type + ' ->  ' + info.targetId + ' ' + info.targetEndpoint.anchor.type);
        jsPlumb.repaintEverything();


    });





    //        var firstInstance = jsPlumb.getInstance();
    //
    //        firstInstance.importDefaults({
    //            Connector : [ "Bezier", { curviness: 50 } ],
    //            Anchors : [ "TopCenter", "BottomCenter" ]
    //        });

    //firstInstance.connect({source:"element1",  target:"element2", scope:"someScope" , deleteEndpointsOnDetach:false });


    //        var common = {
    //            cssClass:"myCssClass"
    //        };



    //        var elmt1T = jsPlumb.addEndpoint('question1', { anchor:"TopCenter" }, exampleGreyEndpointOptionsTarget);
    //        var elmt1S = jsPlumb.addEndpoint('question1', { anchor:"BottomCenter" }, exampleGreyEndpointOptionsSource);
    //
    //        var elmt2T = jsPlumb.addEndpoint('question2', { anchor:"TopCenter" }, exampleGreyEndpointOptionsTarget);
    //        var elmt2S = jsPlumb.addEndpoint('question2', { anchor:"BottomCenter" }, exampleGreyEndpointOptionsSource);
    //
    //        var elmt3T = jsPlumb.addEndpoint('question3', { anchor:"TopCenter" }, exampleGreyEndpointOptionsTarget);
    //        var elmt3S = jsPlumb.addEndpoint('question3', { anchor:"BottomCenter" }, exampleGreyEndpointOptionsSource);
    //
    //        var elmt4T = jsPlumb.addEndpoint('question4', { anchor:"TopCenter" }, exampleGreyEndpointOptionsTarget);
    //        var elmt4S = jsPlumb.addEndpoint('question4', { anchor:"BottomCenter" }, exampleGreyEndpointOptionsSource);
    //
    //        jsPlumb.addEndpoint('choix11', { anchor:"RightMiddle" }, exampleGreyEndpointOptionsSource);
    //        jsPlumb.addEndpoint('choix12', { anchor:"RightMiddle" }, exampleGreyEndpointOptionsSource);
    //        jsPlumb.addEndpoint('choix41', { anchor:"RightMiddle" }, exampleGreyEndpointOptionsSource);
    //        jsPlumb.addEndpoint('choix31', { anchor:"RightMiddle" }, exampleGreyEndpointOptionsSource);


    //        jsPlumb.connect({
    //            source:"element1",
    //            target:"element2",
    //            anchors:["RightMiddle", "LeftMiddle" ],
    //            endpoint:"Rectangle",
    //            endpointStyle:{ fillStyle: "yellow" }
    //        });

    //        var secondInstance = jsPlumb.getInstance({
    //            PaintStyle:{ lineWidth:6, strokeStyle:"#567567", outlineColor:"black", outlineWidth:1 },
    //            Connector:[ "Bezier", { curviness: 30 } ],
    //            Endpoint:[ "Dot", { radius:10 } ],
    //            EndpointStyle : { fillStyle: "#567567"  },
    //            Anchor : [ 1, 0.5, 1, 1 ]
    //        });
    //
    //        var common = {
    //            cssClass:"myCssClass"
    //        };
    //
    //        jsPlumb.addEndpoint('question1', { anchor:"BottomCenter" });
    //        secondInstance.connect({ source:"question4", target:"question3", scope:"someScope", endpoint:[ "Rectangle", { cssClass:"myEndpoint", width:10, height:10 } ] ,deleteEndpointsOnDetach:false,
    //            overlays: [
    //            [ "Arrow", { foldback:0.2 }, common ],
    //            [ "Label", { cssClass:"labelClass", label:"FOO", id:"label" } ]
    //        ] });
    //
    //
    //        var endpointOptions = {
    //            isTarget:true,
    //            uniqueEndpoint:true,
    //            endpoint:"Rectangle",
    //            paintStyle:{ fillStyle:"gray" }
    //        };
    //        jsPlumb.makeTarget("element4", endpointOptions);

    //        jsPlumb.connect({
    //            source:"element3",
    //            target:"element4",
    //            anchors:[ "BottomRight","TopLeft" ],
    //            paintStyle:{ lineWidth:7, strokeStyle:"rgb(131,8,135)" },
    //            endpoint:[ "Image", { src:"http://morrisonpitt.com/jsPlumb/img/endpointTest1.png" } ],
    //            connector:"Straight"
    //        });


</script>


</div>
</div>
</div>
</div>
</div>
</article>
</div>
</div>
</div>
</div>
{% endblock %}
{% block footer %}{% endblock %}