{% extends 'MSBundle:WebMasterDomain:accounts.html.twig' %}
{% block title %}
    <title>Equipes</title>
{% endblock %}
{% block style %}
    <style xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        .art-content .art-postcontent-0 .layout-item-0 { margin-bottom: 5px;  }
        .art-content .art-postcontent-0 .layout-item-1 { color: #404040; border-spacing: 10px 0px; border-collapse: separate;  }
        .art-content .art-postcontent-0 .layout-item-2 { color: #292929; background: #C3D3E4; padding: 10px; vertical-align: top; border-radius: 40px;  }
        .art-content .art-postcontent-0 .layout-item-3 { border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-top-color:#A6A6A6;border-right-color:#A6A6A6;border-bottom-color:#A6A6A6;border-left-color:#A6A6A6; color: #292929; background: #C3D3E4; padding-top: 1px;padding-right: 10px;padding-bottom: 10px;padding-left: 10px; vertical-align: top; border-radius: 40px;  }
        .art-content .art-postcontent-0 .layout-item-4 { border-spacing: 10px 0px; border-collapse: separate;  }
        .art-content .art-postcontent-0 .layout-item-5 { border-top-style:solid;border-right-style:solid;border-bottom-style:solid;border-left-style:solid;border-top-width:1px;border-right-width:1px;border-bottom-width:1px;border-left-width:1px;border-top-color:#A6A6A6;border-right-color:#A6A6A6;border-bottom-color:#A6A6A6;border-left-color:#A6A6A6; color: #292929; background: #C3D3E4; padding-right: 10px;padding-left: 10px; vertical-align: top; border-radius: 40px;  }
        .ie7 .post .layout-cell {border:none !important; padding:0 !important; }
        .ie6 .post .layout-cell {border:none !important; padding:0 !important; }

    </style>

    <script type="text/javascript" src="{{ asset('bundles/ms/js/anis.popup.js') }}" ></script>
    <link rel="stylesheet" href="{{ asset('bundles/ms/css/anis.popup.css') }}" />
    <script type="text/javascript" src="{{ asset('bundles/ms/js/custom.anis.functions.js') }}" ></script>


{% endblock %}
{% block fos_user_content %}

    <div class="art-layout-wrapper clearfix">
        <div class="art-content-layout">
            <div class="art-content-layout-row">
                <div class="art-layout-cell art-content clearfix">
                    <article class="art-post art-article">
                        <div class="art-postcontent art-postcontent-0 clearfix">
                            <div class="art-content-layout-wrapper layout-item-0">
                                <div class="art-content-layout layout-item-1">
                                    <div class="art-content-layout-row">
                                        <div class="art-layout-cell layout-item-2" style="width: 50%" >
                                            <table class="art-article" style="box-shadow: 5px 5px 1px #222;border-radius: 20px ;background-color: #E6E6E6 ;width: 100%;border: 0px">
                                                <tbody>
                                                <tr>
                                                    <td style="word-spacing: 4px; line-height: 150%; text-align: left; margin-top: 15px; margin-bottom: 15px; vertical-align: middle; width: 50%; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;"><span style="font-weight: bold; font-size: 16px; color: rgb(13, 53, 15); text-shadow: rgba(23, 23, 23, 0.496094) 0px -1px 0px;">Equipes</span><br></td>
                                                    <td></td>
                                                    <td style="width: 50%; vertical-align: middle; text-align: right; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;"><a href="{{ path("equipe_new") }}" class="art-button"><span style="text-shadow: rgba(23, 23, 23, 0.496094) 0px -1px 0px;">Nouvelle Equipe</span></a></td>
                                                </tr>
                                                <tr>
                                                <tr style="border-radius: 20px ;background-color: #66dd66">
                                                    <th>
                                                        Superviseur
                                                    </th>

                                                    <th>
                                                        Enqueteurs
                                                    </th>
                                                    <td></td>
                                                </tr>
                                                <tr style="height: 0px !important; max-height: 2px !important;background-color: #636363"><td colspan="10" ></td></tr>
                                                {% for entity in entities %}

                                                    <tr style="border-radius: 20px ;background-color: #66dd66">
                                                        <td>
                                                            <ul><li>{{ entity.superviseur }}({{ entity.dateDebut|date('d M Y') }}--{{ entity.dateFin|date('d M Y') }})</li></ul>
                                                        </td>
                                                        <td>
                                                            <ul>
                                                                {% for enq in entity.enqueteurs %}
                                                                    <li>{{ enq }} - {{ enq.geo|length }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        </td>
                                                        <td style="width: 50%; vertical-align: middle; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;">
                                                            <table class="art-article" style="border-radius: 20px ;margin-left: auto;">
                                                                <tbody>
                                                                <tr>
                                                                    {#<td style="text-align: right; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; width: 50%;"><a href="{{ path('enquete_show' , {'id': entity.id}) }}" class="art-button"><img width="16px" title="Equipes" src="{{ asset("bundles/ms/images/equipe.png") }}" /></a></td>#}
                                                                    <td style="text-align: right; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; width: 50%;"><a href="{{ path('equipe_show' , {'id': entity.id}) }}" class="art-button"><img width="16px" title="Voir" src="{{ asset("bundles/ms/images/voir.png") }}" /></a></td>
                                                                    <td style="width: 68px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;"><a href="{{ path('equipe_edit' , {'id': entity.id}) }}" class="art-button"><img width="16px" title="Modifier" src="{{ asset("bundles/ms/images/edit.png") }}" /></a></td>
                                                                    <td style="text-align: right; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px;"><a onclick="deleteUser('{{ path('equipe_delete' , { 'id' : entity.id}) }}' , this);" class="art-button"><img width="16px" title="Supprimer" src="{{ asset("bundles/ms/images/supprimer.png") }}" /></a></td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>

                                                    <tr style="height: 0px !important; max-height: 2px !important;background-color: #636363"><td colspan="10" ></td></tr>

                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="art-content-layout-row">
                                        <div class="art-layout-cell layout-item-2" style="width: 50%" >
                                            <table class="art-article" style="box-shadow: 5px 5px 1px #222;border-radius: 20px ;background-color: #E6E6E6 ;width: 100%;border: 0px">
                                                <tr>
                                                    <td>
                                                        <div id="googleMap" style="width:100%;height:400px;"></div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>

    <script
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
    </script>

    <script>

        var myCenter=new google.maps.LatLng(36.7809842,10.1771983);
        var myCenter2=new google.maps.LatLng(51.509742,-0.120850);


        var markers= [] , circles = [] , infos = [];

        function initialize()
        {
            var mapProp = {
                center:myCenter,
                zoom:15,
                mapTypeId:google.maps.MapTypeId.ROADMAP
            };

            var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

//            var circle = new google.maps.Circle({
//                map: map,
//                clickable: false,
//                radius: 100,
//                fillColor: '#3fa',
//                fillOpacity: .6,
//                strokeColor: '#313131',
//                strokeOpacity: .4,
//                strokeWeight: .8
//            });

            {% for equipe in entities %}
            circles.push(new google.maps.Circle({
                map: map,
                clickable: false,
                radius: 100,
                fillColor: '#3fa',
                fillOpacity: .6,
                strokeColor: '#313131',
                strokeOpacity: .4,
                strokeWeight: .8
            }));
            {% for enq in equipe.enqueteurs %}
                infos.push('<span>{{ enq }}</span>');
                markers.push( new google.maps.Marker({
                    position:new google.maps.LatLng((36780.9842+(Math.random()%100)+ {{ loop.index }})/1000,(10177.1983+(Math.random()%100))/1000),
                    title: "{{ enq }}"
                }));

            {% endfor %}
            {% endfor %}

            for(var i = 0 ; i < markers.length ; i++)
            {
                markers[i].setMap(map);
                google.maps.event.addListener(markers[i], 'click', function() {
                    infos[i].open(map, markers[i]);
                });

            }
            for(var j = 0 ; j < circles.length ; j++)
            {
                circles[j].bindTo('center', markers[j], 'position');
            }

//            var marker=new google.maps.Marker({
//                position:myCenter
//            });
//
//            var marker2=new google.maps.Marker({
//                position:myCenter2
//            });
//            marker.setMap(map);
//            marker2.setMap(map);




        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
